@import "../../variables.scss";

.main {
  min-height: 100vh;
  width: 100vw;
  background-color: $lightblue;
}

.form-settings {
  width: 300px;
  margin: 0 auto;
}
.form-group {
  width: 100%;
  margin: 20px 0;
}

.form-group input:not([type=range]), .timepicker {
  width: 100%;
  padding: 15px;
  color: $white;
  background-color: $blue;
  border: solid 1px $darkblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
.timepicker {
  width: 75px;
  margin-top: 20px;
}

.timepicker::-webkit-clear-button {
  display: none;
}

.form-group label {
  color: $blue;
  font-size: 0.75rem;
}

.date-group {
  width: 100%;
  margin: 20px 0;
}

.date-group .date {
  width: 100%;
  color: $white;
  background-color: $blue;
  border: solid 1px $darkblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.date input {
  width: 75%;
  padding: 15px;
  color: $white;
  background-color: $blue;
  border: none;
}

.date-group label {
  color: $blue;
  font-size: 0.75rem;
}

.date mat-datepicker-toggle {
  color: $white;
}

.button {
  padding: 15px;
  color: $white;
  background-color: $darkblue;
  border: solid 1px $blue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 25px;
}

.button-img {
  margin: 25px;
  margin-bottom: 0;
}

.slider {
  margin: 20px 0;
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border: solid 1px $darkblue;
  background: $blue;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: solid 1px $nightblue;
  background: $darkblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border: solid 1px $nightblue;
  background: $darkblue;
  cursor: pointer;
}

.title {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: bold;
  color: $darkblue;
}

.errors {
  width: 300px;
  margin: 0 auto;
  background-color: $blue;
  color: $lightblue;
  padding: 10px;
  font-size: 0.75rem;
  border: solid 1px $blue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
