@import "../../variables.scss";

.register {
  width: 100vw;
  min-height: 100vh;
  background-color: $lightblue;
  padding-bottom: 25px;
}

.form-register {
  width: 300px;
  margin: 0 auto;
}
.form-group {
  width: 100%;
  margin: 20px 0;
}

.form-group input {
  width: 100%;
  padding: 15px;
  color: $blue;
  background-color: $white;
  border: solid 1px $darkblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.form-group label {
  color: $blue;
  font-size: 0.75rem;
}
.logo-text {
  font-family: 'Comfortaa', cursive;
  color: $blue;
  font-size: 4.55rem;
}
.logo {
  display: block;
  height: 100px;
  width: 100px;
}
.logo-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0;
}

.button-register {
  width: 100%;
  padding: 15px;
  color: $white;
  background-color: $blue;
  border: solid 1px $blue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 25px;
}

.button-register:hover, .button-register:focus {
  background-color: $lightblue;
  color: $blue;
}

.bottom-text {
  display: block;
  text-align: center;
  color: $blue;
  font-size: 0.75rem;
}

.errors {
  width: 300px;
  margin: 0 auto;
  background-color: $blue;
  color: $lightblue;
  padding: 10px;
  font-size: 0.75rem;
  border: solid 1px $blue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
