@import "variables.scss";

.container {
  min-height: 100vh;
}

* {
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
 }

 mat-icon {
  font-family: 'Material Icons';
 }

 #sidenav {
  background-color: $white;
  margin-top: 50px;
  width: 75vw;
  color: $black;
  -webkit-box-shadow: 6px 0 20px -3px $darkblue;
          box-shadow: 6px 0 20px -3px $darkblue;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  display: flex;
  flex-direction: column;
}

.navLink {
  text-decoration: none;
  color: $nightblue;
  margin-left: 10px;
}

.sidenav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}
