<mat-sidenav-container class="container">
  <mat-sidenav id="sidenav" #sidenav mode="over">
      <div class="sidenav-item">
        <mat-icon>view_list</mat-icon>
        <a class="navLink" [routerLink]="['']">Tijdlijn</a>
      </div>
      <div *ngIf="currentUser" class="sidenav-item">
        <mat-icon>person</mat-icon>
        <a class="navLink" [routerLink]="['/profile', currentUser.id]">Jouw profiel</a>
      </div>
      <div class="sidenav-item">
        <mat-icon>people</mat-icon>
        <a class="navLink" [routerLink]="['/profiles']">Alle profielen</a>
      </div>
      <div class="sidenav-item">
        <mat-icon>info</mat-icon>
        <a class="navLink" [routerLink]="['/tips']">Tips & Tricks</a>
      </div>
      <div class="sidenav-item">
          <mat-icon>assignment</mat-icon>
          <a class="navLink" [routerLink]="['/quiz']">Slaapquiz</a>
        </div>
      <div class="sidenav-item">
        <mat-icon>hotel</mat-icon>
        <a class="navLink" [routerLink]="['/tracking']">Slaapgegevens invullen</a>
      </div>
      <div class="sidenav-item">
          <mat-icon>show_chart</mat-icon>
          <a class="navLink" [routerLink]="['/stats']">Slaapstatistieken</a>
        </div>
      <div class="sidenav-item">
        <mat-icon>exit_to_app</mat-icon>
        <a class="navLink" [routerLink]="['/login']">Afmelden</a>
      </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header *ngIf="showHead"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
