@import "variables.scss";

.container {
  height: 100vh;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
 }

 #sidenav {
  background-color: $darkblue;
  margin-top: 44px;
  -webkit-transition: none;
  -moz-transition:    none;
  -ms-transition:     none;
  -o-transition:      none;
}
