<div class="login">
  <div class="logo-group">
    <img class="logo" [src]="logoPath">
    <div class="logo-text">napp</div>
  </div>
  <div *ngIf="errors" class="errors">
    {{ errors }}
  </div>
  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Gebruikersnaam</label><br>
      <input type="username" name="username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">Wachtwoord</label><br>
      <input type="password" name="password" formControlName="password">
    </div>
    <button class="button-login">AANMELDEN</button>
  </form>
  <div class="bottom-text">Nog geen gebruiker?</div>
  <a class="bottom-text" routerLink="/register">REGISTREER</a>
</div>

