@import "../../variables.scss";

.login {
  width: 100vw;
  min-height: 100vh;
  background-color: $blue;
  padding-bottom: 25px;
}
.logo {
  display: block;
  height: 150px;
  width: 150px;
  margin: 0 auto;
}

.form-login {
  width: 300px;
  margin: 0 auto;
}
.form-group {
  width: 100%;
  margin: 20px 0;
}

.form-group input {
  width: 100%;
  padding: 15px;
  color: $white;
  background-color: $darkblue;
  border: solid 1px $lightblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.form-group label {
  color: $lightblue;
  font-size: 0.75rem;
}
.logo-text {
  font-family: 'Comfortaa', cursive;
  color: $lightblue;
  font-size: 4.55rem;
  text-align: center;
}
.logo-group {
  padding: 20px 0;
}

.button-login {
  width: 100%;
  padding: 15px;
  color: $darkblue;
  background-color: $lightblue;
  border: solid 1px $lightblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 25px;
}

.button-login:hover, .button-login:focus {
  background-color: $darkblue;
  color: $white;
}

.bottom-text {
  display: block;
  text-align: center;
  color: $white;
  font-size: 0.75rem;
}

.errors {
  width: 300px;
  margin: 0 auto;
  background-color: $lightblue;
  color: $blue;
  padding: 10px;
  font-size: 0.75rem;
  border: solid 1px $lightblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
