@import "../../../variables.scss";

.main {
  min-height: 100vh;
  width: 100vw;
  background-color: $lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: $blue;
  width: 100vw;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
  color: $white;

}

.card-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.avatar-container{
  width:32px;
  height:32px;
  border-radius:50%;
  overflow:hidden;
  background-color: $white;
  margin-right: 10px;
}
.avatar {
  display:block;
  margin:auto;
  max-width:32px;
  max-height: 32px;
}

.card-foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.card-title {
  margin-right: 5px;
}

.card-tag {
  color: $lightblue;
  margin-right: 5px;
}

.img-container img {
  width: 100%;
  max-width: 500px;
}

.actions {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
}

.actions span, .actions a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 14px;
	color: $white;
	cursor: pointer;
	padding: 8px 0;
	transition: .2s;
	text-decoration: none;
}


.actions mat-icon {
	margin-right: 8px;
}

.liked {
  color: $red !important;
}
.liked mat-icon {
	-webkit-text-fill-color: $red !important;
	-webkit-text-stroke-color: $red !important;
}

.comment-container {
  width: 100vw;
  margin-bottom: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 0px 20px;
}

.subcomment {
  display: flex;
  flex-direction: row;
  margin: 10px 20px 10px 60px;
}

.comment-text {
  color: $nightblue;
}

.comment-author {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
}

.comment-foot {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  color: $blue;
}

.comment-foot span {
  width: 40px;
}

.comment-react {
  color: $darkblue;
  font-weight: bold;
}

.comment-form, .subcomment-form {
  width: 100vw;
}


.form-group {
  margin: 0 20px;
}

.subcomment-form .form-group{
  margin: 10px 20px 10px 60px;
}

.form-group textarea {
  width: 100%;
  padding: 15px;
  color: $blue;
  background-color: $white;
  border: solid 1px $darkblue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.button-comment {
  padding: 15px;
  color: $white;
  background-color: $darkblue;
  border: solid 1px $blue;
  border-radius: 2px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  margin-bottom: 25px;
}

.hide {
  display: none;
}
