<div class="main" >
  <h4 class="chart-title">Aantal uur slaap voor laatste 7 dagen</h4>
  <div class="linechart-container">
    <canvas class="chart-amount" #chartAmount width="300" height="200">{{amountchart}}</canvas>
  </div>

  <h4 class="chart-title">Gemiddelde slaapdiepte</h4>
  <div class="doughnut-container">
    <div class="doughnut"><canvas class="chart-deep" #chartDeep>{{deepchart}}</canvas></div>
    <div class="chart-advice" *ngIf="deepTip">{{ deepTip }}</div>
    <div class="chart-advice" *ngIf="!deepTip">Goed bezig! Je gemiddelde ligt boven 3.75 op 5!</div>
  </div>

  <h4 class="chart-title">Gemiddelde uitgerustheid</h4>
  <div class="doughnut-container">
      <div class="doughnut"><canvas class="chart-rest" #chartRest>{{restchart}}</canvas></div>
      <div class="chart-advice" *ngIf="restTip">{{ restTip }}</div>
      <div class="chart-advice" *ngIf="!restTip">Goed bezig! Je gemiddelde ligt boven 3.75 op 5!</div>
    </div>
</div>
