@import "../../../variables.scss";

.main {
  min-height: 100vh;
  width: 100vw;
  font-size: .75rem;
  background-color: $lightblue;
}

.profile-head {
  height: 70px;
  background-color: $blue;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.avatar-container{
  width:64px;
  height:64px;
  border-radius:50%;
  overflow:hidden;
  background-color: $white;
}
.avatar {
  display:block;
  margin:auto;
  max-width:64px;
  max-height: 64px;
}

.profile-name {
  width: 50vw;
  color: $lightblue;
}
.name {
  font-size: .9rem;
  color: $white;
}

.button-follow{
  width:40px;
  height:40px;
  padding: 2px;
  border: none;
  border-radius:50%;
  background-color: $darkblue;
}
.button-follow mat-icon {
  color: $white;
}

.content-group {
  padding: 15px;
  margin-bottom: 15px;
  color: $darkblue;
}

.content-title {
  font-size: .9rem;
}

.following-container {
  display: flex;
  flex-direction: row;
}

.following {
  margin: 5px;
}
